<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ataskaita kortelė</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
	
</head>
<body>
	<div id="forma">
		<h3>Nuomojama įranga: </h3>
		<table id = "ataskaita">
			<tr>
				<th>Pavadinimas</th>
				<th>Iš viso</th>
				<th>Fiziniai asmenys nuomojo %</th>
				<th>Juridiniai asmenys nuomojo %</th>
			</tr>
			<tr th:each = "irankis: ${irankiai_visi}">
				<td th:text="${irankis[0]}"></td>
				<td th:text="${irankis[1]}"></td>
				<td th:text="${irankis[2]}/${irankis[1]}"></td>
				<td th:text="${irankis[3]}/${irankis[1]}"></td>
			</tr>
		</table>
	</div>	
	

	
</body>
</html>